nav {
 position: sticky;
 margin: 40px auto;
 height: 20vh;
}

.logo {
 height: 100%;
 width: 100%;
 min-height: 150px;
 min-width: 250px;
}

.links {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.mood {
 color: black;
 border-style: outset;
 border-radius: 5px;
}

.log-out {
 color: black;
 border-style: outset;
 border-radius: 5px;
}

.my-anime {
 color: black;
 border-style: outset;
 border-radius: 5px
}

.profile {
 color: black;
}