

.mood {
 position:fixed; 
 left:80px; 
 top:20px;
 color: black;
 border: solid;
}

.log-out {
 position:fixed; 
 right:80px; 
 top:20px;
 color: black;
 border: solid;
}

.my-anime {
 position:fixed; 
 right:200px; 
 top:20px;
 color: black;
 border: solid;
}

.profile {
 position:fixed; 
 right:350px; 
 top:20px;
 color: black;
}