body {
  margin: 0;
  background-image: linear-gradient(to bottom right,#FF914D, #AB003E, #070A52);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Changa', sans-serif;
  font-size: 200%;
}

